<div class="login-wrapper row col-sm-6">
    <form class="form">
        <div class="login-text text-center">Welcome to NightOwl</div>
        <div class="col-sm-12 name-field">
            <input data-ng-model="user.email" class="form-control" type="text" placeholder="email">
        </div>
        <div class="col-sm-12 pass-field">
            <input data-ng-model="user.password" class="form-control" type="password" placeholder="Password">
        </div>
        <div class="col-sm-12 pass-field">
            <button type="button" data-ng-click="login()" class="btn form-control login-btn">Log In</button>
        </div>
        <div class="sign-up-label text-center" ui-sref="signup"><a>Create an account here</a></div>
    </form>
</div>