<div class="signup-wrapper">
    <form class="form">
        <div class="login-text text-center">Enjoy night life</div>
        <div class="col-sm-12 name-field">
            <input data-ng-model="user.name" class="form-control" type="text" placeholder="Name">
        </div>
        <div class="col-sm-12 mail-field">
            <input data-ng-model="user.email" class="form-control" type="text" placeholder="email">
        </div>
        <div class="col-sm-12 pass-field">
            <input data-ng-model="user.password" class="form-control" type="password" placeholder="Password">
        </div>
        <div class="col-sm-12 pass-field">
            <button data-ng-click="signup()" type="button" class="btn form-control login-btn">Sign Up</button>
        </div>
        <div class="sign-up-label text-center" ui-sref="login"><a>Already having account</a></div>
    </form>
</div>