<div class="home-wrapper">
    <header class="row">
        <div class="col-md-12 col-sm-12"><img src="assets/images/owl-icon.jpg"><span class="heading">NightOwl</span></div>
    </header>
    <section class="map-area">
        <div class="visit-count text-center" data-ng-show="storeVisitCount > 0">You have visited {{storeVisitCount}} times</div>
        <div class="information-area text-center">
            <h2>{{store.name}}</h2>
            {{store.address}}
            <h3>Category : {{store.storeName}}</h3>
            <div data-ng-click="showVisitForm = !showVisitForm" class="visit-hover"><div><img src="assets/images/arrow-down.svg"/></div><div>Have you visited here?</div></div>
            <form name="visit-form" data-ng-show="showVisitForm" class="row visit-form">
                <div class="col-sm-12">
                    <input class="form-control" placeholder="visit purpose" data-ng-model="visit.purpose"/>
                </div>
                <div class="col-sm-12">
                    <div class="visit-label">Enter your date of visit</div>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="visit.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                          <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </p>
                </div>
                <div class="col-sm-12">
                    <btn class="btn btn-success" data-ng-click="postVisit()">Visited</btn>
                </div>
            </form>
        </div>
        <div class="action-tray">
            <!--<span><img src="assets/images/like.svg"/> like </span>-->
            <span data-ng-click="writeAnReview()" data-ng-show="!isReviewed"><img src="assets/images/comment.svg"/>review </span>
            <span data-ng-click="editMyReview()" data-ng-show="isReviewed"><img src="assets/images/comment.svg"/>Edit Your</span>
            <span class="rating">Rating {{store.rating}}/100</span>
        </div>
        <div class="review-section">
            <div class="first-review" data-ng-if="store.reviews.length == 0" data-ng-hide="writeReview">
                Be the first one to write review about this
                <img src="assets/images/empty-search.svg"/>
            </div>
            <div class="review-box" data-ng-if="writeReview">
                <textarea data-ng-model="$parent.reviewText" class="form-control" placeholder="Please write your reviews here"></textarea>
                <button class="btn post-btn" data-ng-click="postThisReview(false)">{{isReviewed ? 'Edit Review' : 'Post Review'}}</button>
            </div>
            <div class="all-reviews" data-ng-if="store.reviews.length > 0">
                <ul class="">
                   <li data-ng-repeat="review in store.reviews" class="row">
                        <div class="col-sm-2 text-center">
                            <img class="user-img" src="assets/images/social.svg"/>
                            <div>{{review.user}}</div>
                        </div>
                        <div class="col-sm-10">
                            <span>{{review.critic}}</span>
                            <div class="text-right review-like"><span data-ng-click="likePost(review)" style="cursor : pointer"><span data-ng-class="{'isLiked' : review.liked}">like </span><img data-ng-if="!review.liked" src="assets/images/like.svg"/><img data-ng-if="review.liked" src="assets/images/like-blue.svg"/></span></div>
                        </div>
                   </li>
                </ul>
            </div>
        </div>
    </section>
</div>